<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All pokemon</title>
  </head>
  <body>
    <div class="pokemon-container">
      <% allPokemons.forEach((pokemon) => { %>

      <div>
        <img src="<%= pokemon.img %>" alt="<%= pokemon.name %>" />
        <a href="<%= pokemon.pokeUrl %>"><%= pokemon.name %></a>
        <p>type: <%= pokemon.type.join(", ") %></p>
      </div>

      <% }) %>
    </div>
    </div>
  </body>
</html>
